<main>
  <p id="notice"><%= flash[:notice] %></p>
  <div class='container'>
    <div class='row'>
      <div class="px-3 col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        <h1 class='text-center'><i class="fas fa-school"></i><strong> Undecided</strong></h1>
        <p class='text-center'>以下で、本サイトの概要や特徴・留意点について列挙する。</p>
        <ul>
          <li id='about'>「逆評価」を好きな時に好きなだけ発信できる。</li>
          <li id='about'>仲間達が発信した「逆評価」を閲覧することができる。</li>
          <li id='about'>発信された「逆評価」にイイねやコメントができる。</li>
          <li id='about'>教員名・講義名に対する便利な検索機能。</li>
          <li id='about'>完全匿名。</li>
          <li id='about'>誹謗中傷はダメ。</li>
          <li id='about'>ECCSメールアドレスによる認証で東大生限定。</li>
          <li id='about'>パスワードの再設定はできない。</li>
        </ul>
    </div>
  </div>
</main>