<main>
  <p id="notice"><%= flash[:notice] %></p>
  <div class='container'>
    <div class='row'>
      <div class="px-3 col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        <h1 class='text-center', id='top'><i class="fas fa-school"></i><strong> UT-Evaco</strong><small>では</small></h1>
        <!--<p class='mt-4 text-center'>本サイトの概要や特徴・留意点について紹介する。</p>-->
        <ul class='mt-4'>
          <li id='about'>「逆評価」を好きな時に好きなだけ発信できる。</li>
          <li id='about'>仲間達が発信した「逆評価」を閲覧することができる。</li>
          <li id='about'>発信された「逆評価」にイイねやコメントができる。</li>
          <li id='about'>教員名・講義名に対して検索ができる。</li>
          <li id='about'>誹謗中傷をしてはいけない。</li>
          <li id='about'>パスワードの再設定ができない。</li>
          <li id='about'>完全匿名である。</li>
          <li id='about'>ECCSメールアドレスの認証で東大生限定である。</li>

        </ul>
    </div>
  </div>
</main>