<main>
  <div class="container">
    <p id="notice"><%= flash[:notice] %></p>
    <div class="row">
      <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
        <h1 class='text-center', id='top'><small>ようこそ</small>
          <i class="fas fa-school"></i><strong> UT-Evaco</strong> <small>へ!</small>
        </h1>
        <p class='mt-3 text-center'>ここ
          <i class="fas fa-school"></i><strong> UT-Evaco</strong> では、
        </p>
        <p class='text-center'>東京大学前期課程学生の教員に対するリアルな評価を、</p>
        <p class='text-center'>リアルタイムに、送受信することができます！</p>
        <div class="mt-5 btn-wrapper col-10 mx-auto">
          <div class="row">
            <a class="btn btn-info btn-sm btn-block mb-3 sign_in" href="/users/sign_in">ログイン</a>
          </div>
          <div class="row">
            <a class="btn btn-success btn-sm btn-block sign_up" href="/users/sign_up">新規登録</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>