<footer class="bg-dark text-white pt-3">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-lg-2">
        <%= image_tag('utas.png') %>
      </div>
      <div class="col-lg-4 text-left">
        <p><small>
          前期教養生の<br>
          前期教養生による<br>
          前期教養生のためのSNS
        </small></p>
      </div>
      <div class="col-lg-6">
        <h6 class="text-white">Link</h6>
        <ul class="p-0 list-unstyled">
          <li>
            <p class="text-white-50"><small>
              サイトオーナーへのご連絡は、
              utzkyoyo@gmail.com
              へお願いします。
            </small></p>
          </li>
          <li>
            <p class="text-white-50"><small>
              サイトに対する提案等は、こちらの
              <a href="https://docs.google.com/forms/d/e/1FAIpQLSf2iXMthMU5vrwAhyleFOmt8mSk9_T1JeAt2rIA_N-ms-WSiQ/viewform?usp=sf_link" title="Suggestion" class="text-white-20">Googleフォーム</a>
              よりお願いします。
            </small></p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>